@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/ChessStyle.css" />
    <script src="~/lib/jquery/jquery.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <!--меню-->
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Game/Start">Играть</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Login">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Register">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Logout">Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2021 - ChessGame</p>
        </footer>
    </div>
    @RenderSection("endScripts", required: false)
</body>
</html>